<!DOCTYPE html>
<head>
    <title>CrabScore App Sever</title>
</head>
<body>
<h1>CrabScore</h1>
<div>[<a
        href="https://www.spencercjh.top">My Personal Home Page</a>,
    <a href="https://www.spencercjh.top/crabscore/swagger-ui.html">Swagger</a>,
    <a href="https://github.com/spencercjh/CrabScoreMVP">Android Client In Github</a>,
    <a href="https://github.com/spencercjh/crabscore_springboot">SpringBoot Sever In Github</a>,
    <a href="https://gitee.com/spencercjh/CrabScore2">Android Client In Gitee</a>,
    <a href="https://gitee.com/spencercjh/crabscore">SpringBoot Sever In Gitee</a>]
    </p>
    <p><span>HAVE A NICE DAY :-)</span></p>
</div>
</body>